*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1{
        display: flex;
        align-items: center;
        font-size: 35px;
        font-weight: 600;
}

.container h1 img{
    width: 60px;
}

.container button img{
    width: 25px;
    margin-right: 8px;
}

.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
}

.input-box{
    position: relative;
    width: 85%;
    max-width: 300px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 50px;
}

.input-box img{
        width: 25px;
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
}


/* Add this CSS below your existing styles */

.header {
    /* background: linear-gradient(135deg, #cf9aff, #95c0ff); */
    background-color: #333;
    color: #fff;
    padding: 10px 5%;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
}

.icon {
    color: #fff;
    font-size: 24px; /* Adjust size as needed */
    margin-right: 15px;
    transition: color 0.3s;
}

.icon:hover {
    color: #cf9aff; /* Change color on hover */
}

.header-text {
    font-size: 16px;
}

/* Responsive Design for Header */
@media (max-width: 768px) {
    .header-text {
        font-size: 14px;
    }

    .icon {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header-text {
        font-size: 12px;
    }

    .icon {
        font-size: 18px;
    }
}
